### taeyoonahn

**1.유니콘기업과 연금보험료의 상관관계에 대한 가정들**   
**&nbsp;&nbsp;1.1. 연금보험료가 높으면 해당 기업은 유니콘 기업일 것이다.   
&nbsp;&nbsp;1.2. 연금보험료 상승률이 높으면 해당 기업은 유니콘 기업일 것이다.   
&nbsp;&nbsp;1.3. 매출/연금보험료가 높으면 해당 기업은 유니콘 기업일 것이다.   
&nbsp;&nbsp;1.4. 매출/연금보험료의 상승률이 높으면 해당 기업은 유니콘 기업일 것이다.**

**2. 연금보험료 측면 데이터 분석**   
**&nbsp;&nbsp;2.1. 기간 내 연금보험료 평균값이 높은 기업 분석       
&nbsp;&nbsp;2.2. 기간 내 연금보험료 평균 상승율이 높은 기업 분석   
&nbsp;&nbsp;2.3. 기간 내 매출/연금보험료 평균값이 높은 기업 분석   
&nbsp;&nbsp;2.4. 기간 내 매출/연금보험료 상승률이 높은 기업 분석**

**3. 최종산출물**   
**&nbsp;&nbsp;3.1. 기간 내 연금보험료 평균값이 높은 기업 Top 50개  
&nbsp;&nbsp;3.2. 기간 내 연금보험료 평균 상승율이 높은 기업 Top 50개    
&nbsp;&nbsp;3.3. 기간 내 매출/연금보험료 평균값이 높은 기업 Top 50개    
&nbsp;&nbsp;3.4. 기간 내 매출/연금보험료 상승률이 높은 기업 Top 50개**

In [72]:
#package 불러오기
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rc("font", family="Malgun Gothic")

from datetime import datetime
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
import warnings
warnings.filterwarnings(action='ignore')

In [73]:
#실수는 소수점 두자리까지 표기
pd.options.display.float_format = '{:.2f}'.format

In [74]:
#데이터 불러오기
df_ori=pd.read_csv('company_nps_data.csv',engine = "python", encoding = "CP949")
df_ori

         회사ID      연매출액    년도   월  월별_연금보험료  월별_직원수
0      233757  41688077  2018   7   8912380      36
1      123464   1760695  2018   3    942380       5
2      342124   3221341  2018   7    781180       4
3      386420   4815584  2015  11   3795900      14
4      129243   9799736  2018  10  40724680     151
...       ...       ...   ...  ..       ...     ...
99796  171439   4630622  2017   2   2402740      11
99797  239388   1045021  2018  10   1428800       9
99798  272304    181898  2018   3    392560       4
99799  362194   2100218  2018  12    874780       3
99800  124281    132900  2017  11    291940       5

[99801 rows x 6 columns]

In [75]:
#데이터 정보 확인
print(df_ori.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99801 entries, 0 to 99800
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회사ID      99801 non-null  int64
 1   연매출액      99801 non-null  int64
 2   년도        99801 non-null  int64
 3   월         99801 non-null  int64
 4   월별_연금보험료  99801 non-null  int64
 5   월별_직원수    99801 non-null  int64
dtypes: int64(6)
memory usage: 4.6 MB
None

> **국민연금보험료
국민연금보험료란 국민연금 가입자들이 나중에 연금을 타기 위해 매월 내는 돈을 말한다.   
현재 보험료율은 9%로, 가입자는 매월 소득 중 9%를 보험료로 납부하고 있다.   
직장에 다니는 사람은 회사에서 절반을 내줘 실질적으로는 4.5%를 낸다.(출처 : 네이버지식백과)**

In [76]:
#데이터 결측치 확인
df_ori.isnull()
df_ori.isnull().sum()

회사ID        0
연매출액        0
년도          0
월           0
월별_연금보험료    0
월별_직원수      0
dtype: int64

In [77]:
#데이터 이상치 확인
#to_do

In [78]:
#연금보험료 및 연매출액을 다루기 쉽게 데이터프레임 변경
df=df_ori[['회사ID','년도','월별_연금보험료','연매출액']]
df

         회사ID    년도  월별_연금보험료      연매출액
0      233757  2018   8912380  41688077
1      123464  2018    942380   1760695
2      342124  2018    781180   3221341
3      386420  2015   3795900   4815584
4      129243  2018  40724680   9799736
...       ...   ...       ...       ...
99796  171439  2017   2402740   4630622
99797  239388  2018   1428800   1045021
99798  272304  2018    392560    181898
99799  362194  2018    874780   2100218
99800  124281  2017    291940    132900

[99801 rows x 4 columns]

In [79]:
#연금보험료를 다루기 쉽게 데이터프레임 변경 
#월별 연금보험료의 결측치를 고려해 연도별 월 평균 연금보험료로 바꿈
df_year = df.groupby(['회사ID','년도']).mean()
df_year.reset_index(inplace=True)
df_year.rename(columns = {'월별_연금보험료' : '연도별_월평균연금보험료'}, inplace = True)
df_year

          회사ID    년도  연도별_월평균연금보험료           연매출액
0           63  2018  410128228.33 11328779396.00
1           95  2018  214837843.33   656947437.00
2          102  2018  173769522.50   742658938.00
3          295  2018   77312035.00    83776697.00
4          414  2018   77590193.33    19732769.00
...        ...   ...           ...            ...
10106  2400284  2018    1055497.14     1263406.00
10107  2437574  2018     636740.00      214016.00
10108  2693684  2019     438120.00      238076.00
10109  3312354  2019    1312200.00     1451563.00
10110  5159723  2019    1257280.00     2591898.00

[10111 rows x 4 columns]

**2. 연금보험료 측면 데이터 분석**

**2.1. 기간 내 연금보험료 평균값이 높은 기업 분석**

In [86]:
#기간 내 연금보험료 평균값이 높은 기업 분석
df_year_penrank=df_year[['회사ID','연도별_월평균연금보험료']]
df_year_penrank=df_year_penrank.groupby(['회사ID']).mean()
df_year_penrank.reset_index(inplace=True)
df_year_penrank.sort_values(by='연도별_월평균연금보험료',ascending=False,inplace=True)

In [90]:
#기간 내 연금보험료 최대값이 높은 기업 Top 50개 획득
df_pen_top50=df_year_penrank.head(50)
df_pen_top50.reset_index(inplace=True)
df_pen_top50.drop(['index'],axis=1,inplace=True)
df_pen_top50

      회사ID  연도별_월평균연금보험료
0   227414  848532802.50
1   419945  838814933.33
2   227415  833628100.42
3   126516  564440444.44
4   126521  528434259.58
5   439902  489029400.00
6   469458  482713946.11
7       63  410128228.33
8   419977  391094838.33
9   547586  388365113.33
10  126538  386311959.58
11  403351  379280735.00
12  126606  340740658.33
13  294337  335918651.25
14  630190  317002456.67
15  403359  313277131.67
16  469473  308617447.08
17  419998  302617804.44
18  580356  278409680.00
19  126674  266071140.00
20  489849  261423660.00
21  294367  258092369.58
22  126664  249520784.17
23  126831  224900556.67
24      95  214837843.33
25  439986  189939779.44
26  420008  183154413.33
27  439917  177941240.00
28     102  173769522.50
29  126772  170001822.92
30  469564  168463370.00
31  294387  152892228.75
32  469567  144105702.78
33  403462  143451511.67
34  126641  140363321.67
35  127090  135065832.92
36  510329  133471567.92
37  126814  130245872.50
38  440030  127546192.42
39  469556  126242461.11
40  126802  125993533.33
41  127060  121001438.33
42  420046  116376921.67
43  126983  109790545.42
44  294649  101865735.00
45  403434   97198029.17
46  294620   96516440.83
47  420092   96171533.33
48  503092   95750080.00
49  403522   93896549.55

**2.2. 기간 내 연금보험료 평균 상승율이 높은 기업 분석**

In [23]:
#기업별 기간데이터 추출
df_period=(df_year.sort_values(['년도']).groupby(['회사ID']).년도.max())-(df_year.sort_values(['년도']).groupby(['회사ID']).년도.min())
df_period=pd.DataFrame(df_period).reset_index()
df_period.rename(columns={'년도':'기간'},inplace=True)
df_period

         회사ID  기간
0          63   0
1          95   0
2         102   0
3         295   0
4         414   0
...       ...  ..
4995  2400284   0
4996  2437574   0
4997  2693684   0
4998  3312354   0
4999  5159723   0

[5000 rows x 2 columns]

In [24]:
df_period=df_period[df_period['기간']!=0]
df_period

        회사ID  기간
52     14271   4
160    44851   2
217    59533   3
402   122968   3
404   122983   2
...      ...  ..
4781  515562   1
4784  515837   1
4786  516607   2
4787  516653   2
4974  620445   1

[2589 rows x 2 columns]

In [25]:
#기업별 연도별_월평균보험료 변화량 추출-max년도
df_pen_max=(df_year.sort_values(['년도']).groupby(['회사ID']).년도.max())
df_pen_max=pd.DataFrame(df_pen_max).reset_index()
df_pen_max=pd.merge(df_pen_max,df_year)
df_pen_max.rename(columns = {'연도별_월평균연금보험료' : 'max년도_월평균연금보험료'}, inplace = True)
df_pen_max.rename(columns = {'년도' : '년도max'}, inplace = True)
df_pen_max.rename(columns = {'연매출액' : 'max년도_연매출액'}, inplace = True)
df_pen_max

         회사ID  년도max  max년도_월평균연금보험료     max년도_연매출액
0          63   2018    410128228.33 11328779396.00
1          95   2018    214837843.33   656947437.00
2         102   2018    173769522.50   742658938.00
3         295   2018     77312035.00    83776697.00
4         414   2018     77590193.33    19732769.00
...       ...    ...             ...            ...
4995  2400284   2018      1055497.14     1263406.00
4996  2437574   2018       636740.00      214016.00
4997  2693684   2019       438120.00      238076.00
4998  3312354   2019      1312200.00     1451563.00
4999  5159723   2019      1257280.00     2591898.00

[5000 rows x 4 columns]

In [26]:
#기업별 연도별_월평균보험료 변화량 추출-min년도
df_pen_min=(df_year.sort_values(['년도']).groupby(['회사ID']).년도.min())
df_pen_min=pd.DataFrame(df_pen_min).reset_index()
df_pen_min=pd.merge(df_pen_min,df_year)
df_pen_min.rename(columns = {'연도별_월평균연금보험료' : 'min년도_월평균연금보험료'}, inplace = True)
df_pen_min.rename(columns = {'년도' : '년도min'}, inplace = True)
df_pen_min.rename(columns = {'연매출액' : 'min년도_연매출액'}, inplace = True)
df_pen_min

         회사ID  년도min  min년도_월평균연금보험료     min년도_연매출액
0          63   2018    410128228.33 11328779396.00
1          95   2018    214837843.33   656947437.00
2         102   2018    173769522.50   742658938.00
3         295   2018     77312035.00    83776697.00
4         414   2018     77590193.33    19732769.00
...       ...    ...             ...            ...
4995  2400284   2018      1055497.14     1263406.00
4996  2437574   2018       636740.00      214016.00
4997  2693684   2019       438120.00      238076.00
4998  3312354   2019      1312200.00     1451563.00
4999  5159723   2019      1257280.00     2591898.00

[5000 rows x 4 columns]

In [27]:
#기업별 연도별_월평균보험료 변화량 추출
df_pen_diff=pd.merge(df_pen_min,df_pen_max)
df_pen_diff['변화비율']=df_pen_diff['min년도_월평균연금보험료']/df_pen_diff['max년도_월평균연금보험료']
df_pen_diff=df_pen_diff.drop(['년도min','년도max','max년도_월평균연금보험료','min년도_월평균연금보험료','min년도_연매출액','max년도_연매출액'],axis=1)
df_pen_diff

         회사ID  변화비율
0          63  1.00
1          95  1.00
2         102  1.00
3         295  1.00
4         414  1.00
...       ...   ...
4995  2400284  1.00
4996  2437574  1.00
4997  2693684  1.00
4998  3312354  1.00
4999  5159723  1.00

[5000 rows x 2 columns]

In [28]:
df_pen_dif=pd.merge(df_pen_diff,df_period)
df_pen_dif['기간']=df_pen_dif['기간'].astype(float)
df_pen_dif.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2589 entries, 0 to 2588
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사ID    2589 non-null   int64
 1   변화비율    2589 non-null   float64
 2   기간      2589 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 80.9 KB

In [29]:
df_pen_dif['CAGR']=(df_pen_dif['변화비율'])**(1/df_pen_dif['기간'])-1
df_pen_cagr=df_pen_dif
df_pen_cagr

        회사ID  변화비율   기간  CAGR
0      14271  0.64 4.00 -0.11
1      44851  1.32 2.00  0.15
2      59533  0.90 3.00 -0.03
3     122968  1.31 3.00  0.09
4     122983  1.55 2.00  0.25
...      ...   ...  ...   ...
2584  515562  0.31 1.00 -0.69
2585  515837  1.09 1.00  0.09
2586  516607  1.16 2.00  0.07
2587  516653  0.81 2.00 -0.10
2588  620445  0.91 1.00 -0.09

[2589 rows x 4 columns]

In [34]:
df_pen_cagr_rank=df_pen_cagr.sort_values(by='CAGR',ascending=False)

In [36]:
#기간 내 연금보험료 평균 상승율이 높은 기업 Top 50개 획득
df_pencagr_top50=df_pen_cagr_rank.head(50)
df_pencagr_top50.reset_index(inplace=True)
df_pencagr_top50.drop(['변화비율','기간','index'],axis=1,inplace=True)
df_pencagr_top50

      회사ID  CAGR
0   295827  1.45
1   216628  1.31
2   507862  1.15
3   213842  1.00
4   342869  0.98
5   470208  0.95
6   398665  0.86
7   422744  0.83
8   165510  0.82
9   408352  0.80
10  205761  0.79
11  212265  0.74
12  239100  0.71
13  144717  0.70
14  249459  0.68
15  470042  0.67
16  146336  0.64
17  137889  0.64
18  212551  0.63
19  428239  0.60
20  145948  0.60
21  179735  0.58
22  296933  0.58
23  471095  0.54
24  251069  0.53
25  148855  0.53
26  429378  0.51
27  152269  0.51
28  406209  0.50
29  501043  0.50
30  473732  0.50
31  411503  0.49
32  217588  0.49
33  193239  0.46
34  240497  0.46
35  145177  0.46
36  130558  0.46
37  246630  0.44
38  234427  0.43
39  326784  0.42
40  201131  0.42
41  257957  0.41
42  368448  0.41
43  411686  0.40
44  138352  0.39
45  146381  0.39
46  247838  0.38
47  470065  0.38
48  127202  0.38
49  249986  0.37

**2.3. 기간 내 매출/연금보험료 평균값이 높은 기업 분석**

In [45]:
df_spp=df_year
df_spp['연매출액/연도별_월평균연금보험료']=df_spp['연매출액']/df_spp['연도별_월평균연금보험료']
df_spp

          회사ID    년도  연도별_월평균연금보험료           연매출액  연매출액/연도별_월평균연금보험료
0           63  2018  410128228.33 11328779396.00              27.62
1           95  2018  214837843.33   656947437.00               3.06
2          102  2018  173769522.50   742658938.00               4.27
3          295  2018   77312035.00    83776697.00               1.08
4          414  2018   77590193.33    19732769.00               0.25
...        ...   ...           ...            ...                ...
10106  2400284  2018    1055497.14     1263406.00               1.20
10107  2437574  2018     636740.00      214016.00               0.34
10108  2693684  2019     438120.00      238076.00               0.54
10109  3312354  2019    1312200.00     1451563.00               1.11
10110  5159723  2019    1257280.00     2591898.00               2.06

[10111 rows x 5 columns]

In [92]:
#기간 내 연금보험료 평균값이 높은 기업 분석
df_year_spprank=df_spp[['회사ID','연매출액/연도별_월평균연금보험료']]
df_year_spprank=df_year_spprank.groupby(['회사ID']).mean()
df_year_spprank.reset_index(inplace=True)
df_year_spprank.sort_values(by='연매출액/연도별_월평균연금보험료',ascending=False,inplace=True)
df_year_spprank

        회사ID  연매출액/연도별_월평균연금보험료
4964  602137                inf
2666  288014                inf
4909  567650             225.72
2770  297874             143.73
4148  433492             125.41
...      ...                ...
363   108773               0.00
4866  552832               0.00
4927  570867               0.00
288    81619               0.00
4904  566173               0.00

[5000 rows x 2 columns]

In [94]:
#기간 내 매출/연금보험료 최대값이 높은 기업 Top 50개 획득
df_spp_top50=df_year_spprank.head(50)
df_spp_top50.reset_index(inplace=True)
df_spp_top50.drop(['index'],axis=1,inplace=True)
df_spp_top50

      회사ID  연매출액/연도별_월평균연금보험료
0   602137                inf
1   288014                inf
2   567650             225.72
3   297874             143.73
4   433492             125.41
5   426180             100.26
6   102971              83.27
7   157237              76.85
8   260890              76.31
9   146654              71.86
10   40860              66.50
11  439585              63.30
12  101711              58.44
13   67616              53.54
14  382850              39.16
15  294649              37.63
16   37742              35.32
17  434348              33.99
18  288613              33.19
19  205761              31.19
20    8835              31.03
21  430504              30.98
22   64324              29.59
23  232757              29.34
24  362486              28.49
25      63              27.62
26  429453              27.32
27  359045              27.27
28  428817              25.99
29  335122              25.81
30  321054              24.35
31  432527              24.32
32  394989              23.50
33  569504              23.37
34  109592              23.34
35  429378              22.93
36  318882              22.91
37  293402              22.74
38  381180              22.44
39  353228              21.75
40  430507              21.68
41  432907              21.53
42  323535              21.12
43  433756              21.07
44  313888              20.87
45  234236              20.71
46   60154              20.51
47  286532              20.22
48  315359              19.89
49   55636              19.37

**2.4. 기간 내 매출/연금보험료 상승률이 높은 기업 분석**

In [50]:
#기업별 연도별_월평균보험료 변화량 추출-max년도
df_spp_max=(df_year.sort_values(['년도']).groupby(['회사ID']).년도.max())
df_spp_max=pd.DataFrame(df_spp_max).reset_index()
df_spp_max=pd.merge(df_spp_max,df_year)
df_spp_max.drop(['연도별_월평균연금보험료','연매출액'],axis=1,inplace=True)
df_spp_max.rename(columns = {'연매출액/연도별_월평균연금보험료' : 'max년도_연매출액/월평균연금보험료'}, inplace = True)
df_spp_max.rename(columns = {'년도' : '년도max'}, inplace = True)
df_spp_max

         회사ID  년도max  max년도_연매출액/월평균연금보험료
0          63   2018                27.62
1          95   2018                 3.06
2         102   2018                 4.27
3         295   2018                 1.08
4         414   2018                 0.25
...       ...    ...                  ...
4995  2400284   2018                 1.20
4996  2437574   2018                 0.34
4997  2693684   2019                 0.54
4998  3312354   2019                 1.11
4999  5159723   2019                 2.06

[5000 rows x 3 columns]

In [51]:
#기업별 연도별_월평균보험료 변화량 추출-min년도
df_spp_min=(df_year.sort_values(['년도']).groupby(['회사ID']).년도.min())
df_spp_min=pd.DataFrame(df_spp_min).reset_index()
df_spp_min=pd.merge(df_spp_min,df_year)
df_spp_min.drop(['연도별_월평균연금보험료','연매출액'],axis=1,inplace=True)
df_spp_min.rename(columns = {'연매출액/연도별_월평균연금보험료' : 'min년도_연매출액/월평균연금보험료'}, inplace = True)
df_spp_min.rename(columns = {'년도' : '년도min'}, inplace = True)
df_spp_min

         회사ID  년도min  min년도_연매출액/월평균연금보험료
0          63   2018                27.62
1          95   2018                 3.06
2         102   2018                 4.27
3         295   2018                 1.08
4         414   2018                 0.25
...       ...    ...                  ...
4995  2400284   2018                 1.20
4996  2437574   2018                 0.34
4997  2693684   2019                 0.54
4998  3312354   2019                 1.11
4999  5159723   2019                 2.06

[5000 rows x 3 columns]

In [52]:
#기업별 연도별_월평균보험료 변화량 추출
df_spp_diff=pd.merge(df_spp_min,df_spp_max)
df_spp_diff['변화비율']=df_spp_diff['min년도_연매출액/월평균연금보험료']/df_spp_diff['max년도_연매출액/월평균연금보험료']
df_spp_diff=df_spp_diff.drop(['년도min','년도max','min년도_연매출액/월평균연금보험료','max년도_연매출액/월평균연금보험료'],axis=1)
df_spp_diff

         회사ID  변화비율
0          63  1.00
1          95  1.00
2         102  1.00
3         295  1.00
4         414  1.00
...       ...   ...
4995  2400284  1.00
4996  2437574  1.00
4997  2693684  1.00
4998  3312354  1.00
4999  5159723  1.00

[5000 rows x 2 columns]

In [53]:
df_spp_dif=pd.merge(df_spp_diff,df_period)
df_spp_dif['기간']=df_spp_dif['기간'].astype(float)
df_spp_dif.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2589 entries, 0 to 2588
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사ID    2589 non-null   int64
 1   변화비율    2589 non-null   float64
 2   기간      2589 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 80.9 KB

In [54]:
df_spp_dif['CAGR']=(df_spp_dif['변화비율'])**(1/df_spp_dif['기간'])-1
df_spp_cagr=df_spp_dif
df_spp_cagr

        회사ID  변화비율   기간  CAGR
0      14271  0.21 4.00 -0.32
1      44851  0.60 2.00 -0.23
2      59533  1.49 3.00  0.14
3     122968  0.91 3.00 -0.03
4     122983  1.64 2.00  0.28
...      ...   ...  ...   ...
2584  515562  2.16 1.00  1.16
2585  515837  1.44 1.00  0.44
2586  516607  1.14 2.00  0.07
2587  516653  1.44 2.00  0.20
2588  620445  2.79 1.00  1.79

[2589 rows x 4 columns]

In [56]:
df_spp_cagr_rank=df_spp_cagr.sort_values(by='CAGR',ascending=False)
df_spp_cagr_rank

        회사ID    변화비율   기간   CAGR
2360  448522  270.20 1.00 269.20
1457  293773  110.88 1.00 109.88
1196  247382   55.80 1.00  54.80
1343  265937 2622.61 3.00  12.79
1207  248815   13.59 1.00  12.59
...      ...     ...  ...    ...
2169  417469    0.03 2.00  -0.83
1362  268810    0.00 3.00  -0.86
2240  432907    0.02 2.00  -0.86
1132  242254    0.01 2.00  -0.92
682   177997    0.08 1.00  -0.92

[2589 rows x 4 columns]

In [57]:
#기간 내 연금보험료 평균 상승율이 높은 기업 Top 50개 획득
df_sppcagr_top50=df_spp_cagr_rank.head(50)
df_sppcagr_top50.reset_index(inplace=True)
df_sppcagr_top50.drop(['변화비율','기간','index'],axis=1,inplace=True)
df_sppcagr_top50

      회사ID   CAGR
0   448522 269.20
1   293773 109.88
2   247382  54.80
3   265937  12.79
4   248815  12.59
5   275496   9.62
6   438349   7.63
7   261744   6.51
8   485596   5.63
9   411214   5.54
10  416543   3.28
11  264218   3.27
12  296933   3.18
13  242371   2.84
14  249789   2.49
15  430507   2.45
16  125274   2.31
17  512297   2.31
18  435783   2.31
19  245605   2.27
20  433756   2.25
21  226604   2.20
22  247526   2.18
23  323794   2.14
24  429453   2.04
25  257957   2.00
26  246402   1.98
27  620445   1.79
28  300364   1.76
29  244471   1.75
30  275468   1.49
31  157385   1.48
32  239027   1.47
33  171271   1.42
34  321709   1.37
35  175134   1.37
36  410344   1.33
37  486268   1.33
38  143060   1.32
39  209262   1.29
40  380843   1.27
41  249013   1.25
42  486920   1.21
43  385261   1.21
44  432911   1.20
45  237984   1.20
46  136789   1.19
47  291075   1.17
48  433492   1.17
49  265240   1.16

**3.최종산출물**